langchain
langgraph
langchain-core
langchain-community
langchain-groq
langchain-google-genai
sentence-transformers
huggingface-hub
faiss-cpu
pypdf
tiktoken
fastapi
uvicorn
streamlit
pydantic
python-dotenv
numpy
pandas
typing-extensions
tqdm
duckduckgo-search
pytest
huggingface
langchain-huggingface
torch
plotly